* {
	box-sizing: border-box;
	position: relative;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;

}

body {
	color: black;
	background-color: #f8d78a;

}

#maintitle {
	font-size: 12vw;
	font-family: 'Rye', cursive;
	text-align: center;
	border: 2px solid black;
	color: black;
	text-transform: uppercase;
	padding: 1%;
	top: 30%;
}

h2.mainsub {
	font-size: 5vw;
	text-align: center;
	padding-bottom: 5%;
	text-transform: uppercase;
	top: 30%
}

.atlantic {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5vw;
	padding: 1%;
	top: 30%;

}

p.right {
	top: 50%;
	font-size: 2vw;
	background-color: blue;
	float: left;

}

p.chase {
	top: 60%;
	font-size: 2vw;
	background-color: pink;
	text-align: center;

}

p.run {
	top: 70%;
	font-size: 2vw;
	background-color: orange;
	text-align: center;

}

p.drudgery {
	top: 80%;
	float: right;
	font-size: 2vw;
	background-color: red;
	text-align: center;

}

p.colorful {
	top: 100%;
	font-size: 2vw;
	background-color: green;
	float: left;

}

p.sensible {
	top: 110%;
	font-size: 2vw;
	background-color: pink;
	float: left;

}

p.risk {
	top: 130%;
	font-size: 2vw;
	background-color: orange;
	float: left;
	display: flex;


}

span.see {
	background-color: black
	color: white;
	writing-mode: vertical-rl;
  text-orientation: upright;
}

div.chorus {
	top: 220%;
	background-color: red;
}

h1.chorusfirst {
	font-size: 8vw;
	font-family: 'Rye', cursive;
	color: black;
	text-transform: uppercase;
	text-align: center;
	padding: 1%;
}

h2.chorussub {
	font-size: 3vw;
	font-family: serif;
	color: black;
	text-transform: uppercase;
	background-color: white;
	padding: 1%;
}

div.chorusthird {
	top: 240%;
	background-color: green;
	padding: 40px;

}

div.sickbeat {
	background-color: purple;
	top: 260%;
	text-align: center;
}

h1.damn {
	font-size: 12vw;
	font-family: 'Rye', cursive;
	text-align: center;
	background-color: black;
	color: #f8d78a;
	text-transform: uppercase;
	padding: 1%;
	top: 290%;
}

p.suddenly {
	text-align: center;
	font-size: 3vw;
	font-family: serif;
	color: black;
	text-transform: uppercase;
	background-color: white;
	padding: 1%;
	top: 290%;
}
