* {
	box-sizing: border-box;
	position: relative;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;

}

body {
	color: black;
	background-image: url(/pictures/parchment.jpg);
	background-color: #f8d78a;
	background-repeat: repeat-y;
	background-size: cover;


}

#maintitle {
	font-size: 12vw;
	font-family: 'Rye', cursive;
	text-align: center;
	border: 2px solid black;
	color: black;
	text-transform: uppercase;
	padding: 1%;
	top: 30%;
}

h2.mainsub {
	font-size: 5vw;
	text-align: center;
	padding-bottom: 5%;
	text-transform: uppercase;
	top: 30%
}

.atlantic {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5vw;
	padding: 1%;
	top: 30%;

}

div.firststanza {

	width: 100%;
	top: 80%;
}

p.right {

	font-size: 2vw;
	padding-bottom: 20%;
	text-align: center;
	font-weight: bold;

}

p.chase {

	font-size: 2vw;
	background-color: pink;
	text-align: center;

}

p.run {

	font-size: 2vw;
	background-color: orange;
	text-align: center;

}

p.drudgery {


	font-size: 2vw;
	background-color: red;
	text-align: center;

}

p.colorful {

	font-size: 2vw;
	background-color: green;


}

p.sensible {

	font-size: 2vw;
	background-color: pink;


}

p.risk {

	font-size: 2vw;
	background-color: orange;

}

span.see {
	background-color: black
	color: white;
	writing-mode: vertical-rl;
  text-orientation: upright;
}

div.chorus {
	top: 100%;
	background-color: red;
}

div.chorus2 {
	background-color: red;
	top: 340%;
}

div.chorus3 {
	background-color: red;
	top: 440%;
}

div.chorus4 {
	background-color: red;
	top: 500%;
}

h1.chorusfirst {
	font-size: 8vw;
	font-family: 'Rye', cursive;
	color: black;
	text-transform: uppercase;
	text-align: center;
	padding: 1%;
}

h2.chorussub {
	font-size: 3vw;
	font-family: serif;
	color: black;
	text-align: center;
	text-transform: uppercase;
	background-color: white;
	padding: 1%;
}

div.chorusthird {
	top: 240%;
	background-color: green;
	padding: 40px;
}

div.chorusthird2 {
	top: 350%;
	background-color: green;
	padding: 40px;
}

div.chorusthird3 {
	top: 470%;
	background-color: green;
	padding: 40px;
	display: flex;
	justify-content: center;
	}

p.chorusitalic {
	font-style: italic;
	font-size: 5vw;
	background-color: purple;
	line-height: 1.2em;
	text-align: center;
	width: 50px;
	left: 50%;
}

p.chorusneed {
	font-size: 2vw;
	background-color: yellow;
	text-align: center;
}


div.sickbeat {
	background-color: purple;
	top: 260%;
	text-align: center;
}

div.sickbeat2 {
	background-color: purple;
	top: 360%;
	text-align: center;
}

div.sickbeat3 {
	background-color: purple;
	top: 480%;
	text-align: center;
}

div.damnchorus {
	top: 290%;
}

div.damnchorus2 {
	top: 390%;
}

div.damnchorus3 {
	top: 490%;
}

h1.damn {
	font-size: 12vw;
	font-family: 'Rye', cursive;
	text-align: center;
	background-color: black;
	color: #f8d78a;
	text-transform: uppercase;
	padding: 1%;
	top: 290%;
}

p.suddenly {
	text-align: center;
	font-size: 3vw;
	font-family: serif;
	color: black;
	text-transform: uppercase;
	background-color: white;
	padding: 1%;
	top: 290%;
}

p.side {
	font-size: 3vw;
	background-color: yellow;
	text-align: center;
}

div.secondstanza {
	background-color: pink;
	top: 320%;
}

div.bridge {
	background-color: yellow;
	top: 390%;
}

div.thirdstanza {
	background-color:orange;
	top: 410%;
}

div.numbers {
	background-color: black;
	color: white;
	top: 420%;
}

h1.ten {
	font-family: 'Rye', cursive;
	font-size: 12vw;
	background-color: black;
	color: white;
	text-align: center;
}
